<table class="table table-hove events" id="all-events-table", data-source="<%= all_events_events_path(format: :json) %>">
  <thead>
    <tr>
      <th>Adı</th>
      <th>Topluluk</th>
      <th>Durum</th>
      <th>Tarihi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>